@maincolor: #00a65a;
@secondcolor: #222d32;
@backcolor: white;
@textfont: "Comic Sans MS", cursive, sans-serif;

.poster {
  background-color: #00a65a;
  min-height: 100vh;
  height: auto;
}

.removepadding {
  padding: 0px !important;
}

.removemargin {
  margin: 0px !important;
}

.heading {
  top: 30px;
  left: 50px;
  font-size: 30px;
  color: @backcolor;
  font-family: @textfont;
  position: relative;
}

.qoutes {
  position: relative;
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
  color: @backcolor;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

.autor {
  text-align: right;
}

.writting {
  text-align: justify;
}

.sayings {
  position: relative;
  color: @backcolor;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 300px;
  padding-left: 100px;
  padding-right: 100px;
}
