@maincolor: #00a65a;
@secondcolor: #222d32;
@backcolor: white;
@textfont: "Roboto", sans-serif;

/// Grid Column options css
.columnoptions {
  padding: 10px;
  cursor: pointer;
  border-radius: 7px;
  &:hover {
    background-color: darken(@backcolor, 25%);
  }
}

/// Row gap
.top-buffer {
  margin-top: 10px;
}

/// Input field css
.inputfield:focus {
  border-color: @maincolor !important;
  box-shadow: 0 0 0 0.03rem @maincolor !important;
}
